// 共通プロジェクト
@use '../2-tools/mixin' as *;

// 製品一覧
.p-products {
    &__list {
        row-gap: 24px;
    }

    &__listItem {
        a {
            display: flex;
            gap: 24px;
            align-items: center;
        }
    }

    &__listItemImg,
    &__listItemTitle {
        width: 50%;
    }

    &__listItemTitle {
        margin-top: 0;
    }

    @include mq {
        &__list {
            row-gap: 0;
        }

        &__listItem {
            a {
                flex-direction: column;
            }
        }

        &__listItemImg,
        &__listItemTitle {
            width: auto;
        }
    }
}